html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../img/wood1.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
/*header*/

.nav {
	background: #fff;
}
.brand  {
	margin-left: 60%;
	margin-top: -.3%;
}
/*main on every page*/
#main-container {
	min-height: 100%;
	width: 100%;
	position: relative;
}
/*login page*/
.row {
	width: 100%;
}
.col-xs-9-login {
	margin-left: 20%;
}

.front-pic {
	font-family: segoe print;
	margin: 10% 0 0 40%;
}

.blue {
	color: #039;
	margin: 0 0 0 43%;
	font-size: 45px;
}

.orange {
	color: #e67008;
	margin: -2% 0 0 60%;
	font-size: 45px;
}

.blue-sec {
	color: #039;
	margin: -2% 0 0 54%;
	font-size: 45px;
}
.col-xs-4-login {
	margin: 0% 0 0 39%;
}
.form-horizontal-login {
	color: #039;
	
	font-size: 22px;
	padding: 23% 0 32% 0%;
	font-family: segoe print;
	}
.control-label {
	font-weight: strong;
}

.form-control-login {
	border-radius: 10px;
	
}
  .btn-default-login {
  	color: #fff;
  	background-color: #039;
  	border-radius: 10px;
  }

.reg {
	color: #e67008;
	font-size: 18px;

}

/*registration page*/

.form-horizontal-registration{
	width: 55%;
	margin: 3% 15% 0 23%;
	background-color: #fff;
	padding: 5% 0 2% 8%;
	border: 2px solid #e67008;
	border-radius: 30px;
	font-family: segoe print;
}

.registr {
	margin-top: -5%;
	padding: 3% 0;
}
.form-control-registration{
	border: 2px solid #e67008;
}

.btn-warning {
	margin-left: 70%;
	background-color: #e67008;
}

/*footer on every page*/
#footer {
	width: 100%;
	height: 40px;
	border-top: 1px solid #fff;
	left: 0;
	bottom: 0;
	background: #fff;
	position: absolute;
}

#footer p {
	margin-left: 45%;
}
