html {
	margin: 0;
	padding: 0;
	min-height: 100%
}
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
/*header*/

.nav-tabs {
	width: 100%;
	background: #fff;
	z-index: 9999;
	position: absolute;
}
.brand  {
	margin-top: -.3%;
	
}
/*main on every page*/
#main-container {
	min-height: 100%;
	width: 100%;
}

#background {
	width: 80%;
	height: 100%;
	margin-left: 10%;
	min-height: 400px;
	position: absolute;
	z-index: -1;
}
/*login page*/

.row {
	width: 100%;
}
/*extra small screen*/
@media screen and (min-width: 0px) {
	.col-xs-5-login {
		margin: 30% 0 0 57%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 45%;
		font-size: 15px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 15px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 30%;
		font-size: 15px;
}
}
/*small screen*/
@media screen and (min-width: 400px) {
	.col-xs-5-login {
		margin: 25% 0 0 55%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 45%;
		font-size: 22px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 22px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 28%;
		font-size: 22px;
}
}
/*medium screen*/
@media screen and (min-width: 500px) {
	.col-xs-5-login {
		margin: 15% 0 0 53%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 35%;
		font-size: 25px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 25px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 30%;
		font-size: 25px;
}
}
/*large screen*/
@media screen and (min-width: 900px) {
	.col-xs-5-login {
		margin: 10% 0 0 52%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 43%;
		font-size: 35px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 35px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 34%;
		font-size: 35px;
}
}
/*extra large screen*/
@media screen and (min-width: 1100px) {
	.col-xs-5-login {
		margin: 11% 0 0 52%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 43%;
		font-size: 40px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 40px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 55%;
		font-size: 40px;
}
}

@media screen and (min-width: 0px) {
	.col-xs-4-login {
		margin: 55% 0 0 39%;
	}
}
@media screen and (min-width: 500px) {
	.col-xs-4-login {
		margin: 45% 0 0 39%;
	}
}
@media screen and (min-width: 700px) {
	.col-xs-4-login {
		margin: 35% 0 0 34%;
		width: 45%;
	}
}
@media screen and (min-width: 900px) {
	.col-xs-4-login {
		margin: 25% 0 0 39%;
		width: 40%;
	}
}
@media screen and (min-width: 1200px) {
	.col-xs-4-login {
		margin: 28% 0 0 35%;
		width: 40%;
	}
}
.form-horizontal-login {
	color: #039;
	font-size: 22px;
	font-family: segoe print;
	}
	
.control-label {
	font-weight: strong;
}

.form-control-login {
	border-radius: 10px;
	
}
  .btn-default-login {
  	color: #fff;
  	background-color: #039;
  	border-radius: 10px;
  }

.reg {
	color: #e67008;
	font-size: 18px;

}

/*registration page*/

.form-horizontal-registration {
	width: 55%;
	margin: 7% 15% 0 23%;
	background-color: #fff;
	padding: 3% 0 2% 8%;
	border: 2px solid #e67008;
	border-radius: 30px;
	font-family: segoe print;
	position: absolute;
}

.registr {
	margin-top: -5%;
	padding: 3% 0;
}
.form-control-registration{
	border: 2px solid #e67008;
}

.btn-warning-registration {
	margin-left: 70%;
	background-color: #e67008;
}

/*form1 page with input*/

.box {
    position:absolute;
    width:60%;
    margin: 5% 20% 0 20%;
    background-color: #fff;
    padding-bottom: 2%;
    border: 3px solid #039;
    border-radius: 30px;
}
.img-box {
    width: 40%;
    height:200px;
    margin: 3% 0 0 30%;
    border-radius: 10px;
    border: 2px solid #666;
    padding-bottom: %;
    background-image: url("../img/box1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.question {
    margin: 3% 0 0 10%;
    font-size: 17px;
}
.control-label-form1{
    margin: 3% 45% 0 45%;
    font-size: 17px;
}
.col-sm-6-form1 {
    margin: 2% 25% 0 25%;
}
.form-control-form1{
    border-radius: 10px;
    border: 2px solid #666;
}
.btn-form1 {
    margin: 3% 0 0 45% ;
}
.timer {
    width: 80%;
    height: 7px;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 2% 0 0 10%;
}
.warning {
    margin: 2% 0 0 25%;
}

/*form2 page with radio*/

.control-label-form2 {
    margin: 0% 0 0 15%;
}
.radio-form2 {
    margin: 2% 0 0 35%;
}
.btn-form2 {
    margin: -1% 0 0 65%;
}
/*footer on every page*/


#footer {
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
	background: #fff;
	position: fixed;

}

#footer p {
	margin-left: 45%;
}







