<script type="text/template" id="tpl-question-input">
    <h2 class="page-header text-center">Question Input</h2>
</script>

<script type="text/template" id="tpl-question-radio">
    <h2 class="page-header text-center">Question Radio</h2>
</script>

<script type="text/template" id="tpl-question-checkbox">
    <h2 class="page-header text-center">Question Checkbox</h2>
</script>