<script type="text/template" id="tpl-question-howto">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div id="wrapper2">
        <div id="wrapper3">
            <div class="container">
                <div class="row mb-100" >
                    <div class="col-md-12">
                        <a href="#"><img class="logo" src="img/logo-perscreen.jpg" width="150" alt=""></a>
                    </div>
                </div>
            </div>
            <section id="page2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Entspannen Sie sich!</strong></p>
                            <p>Atmen Sie tief ein und aus. Spannen Sie innerlich alle Muskeln so fest wie möglich, zählen Sie bis sechs <br>
                                und nehmen Sie die Spannung wieder zurück.</p>
                            <p><strong>Diese Analyse ist kein Test. Es gibt keine "richtigen" oder "falschen" Antworten.</strong></p>
                            <br>
                            <p>Die Antwortvorgaben sind bei den meisten Fragen immer dieselben:</p>
                            <ul class="nobullet">
                                <li><i></i> stimmt vollkommen</li>
                                <li><i></i> stimmt größtenteils</li>
                                <li><i></i> stimmt weniger</li>
                                <li><i></i> stimmt gar nicht</li>
                            </ul>
                            <p>(Auf abweichende Antwortvorgaben werden Sie hingewiesen)</p>

                            <br>
                            <p><strong>Denken Sie beim Antworten bitte immer an Ihr eigenes Verhalten.</strong></p>
                            <p>Antworten Sie spontan, überlegen Sie nicht lange. Jedes Überlegen führt Sie ein Stück von sich selbst weg <br>und wäre letztlich nur ein Versuch, sich nicht in die Augen sehen zu wollen.</p>
                            <br>
                            <p>Lesen Sie nun Frage 1 durch und antworten Sie. Gehen Sie dann zu Frage 2 über und so weiter.</p>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="clearfix"></div>
                    <div class="row weiter">
                        <div class="col-md-12 text-right">
                            <a id="nextQuestionBtn" class="button">Weiter</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</script>