<script type="text/template" id="tpl-question-finished">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div id="wrapper2">
        <div id="wrapper3">
            <div class="container">
                <div class="row mb-100" >
                    <div class="col-md-12">
                        <a href="#"><img class="logo" src="img/logo.svg" width="150" alt=""></a>
                    </div>
                </div>
            </div>
            <section class="goodbye">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-right">
                            <img class="responsive-image" src="img/Verabschiedung.png" alt="">
                            <h3>Wir bedanken uns für Ihre Aufmerksamkeit!</h3>
                            <h3>Auf Wiedersehen!</h3>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="row weiter">
                        <div class="col-md-12 text-right">
                            <a href="#" class="button">Beenden</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</script>