
<script type="text/template" id="tpl-question-intro">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 header">
                    <h1 class="first-row">Was macht</h1><br />
                    <h1 class="second-row">Sie</h1>
                    <h1 class="third-row">einmalig?</h1>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row info">
                <div class="col-md-12">
                    <p>PerScreen - Fragebogen</p>
                    <p>Version 4.3.0.0</p>
                    <p>Copyright &copy; Prof. a. D. Dr. Matthias Scharlach</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row weiter">
                <div class="col-md-12 text-right">
                    Kennwort: <input type="text"> <a id="nextQuestionBtn" class="button">Weiter</a>
                </div>
            </div>
        </div>
    </footer>
</script>