<script type="text/template" id="tpl-question-data">
    <div class="container">
        <div class="row mb-100" >
            <div class="col-md-12">
                <a href="#"><img class="logo" src="img/logo.svg" width="150" alt=""></a>
            </div>
        </div>
    </div>
    <section id="page2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quas nihil, atque doloremque consectetur error ea commodi, ipsam qui. Architecto commodi dolor quasi? Rem incidunt, doloremque error dolorum earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quasi quaerat, veritatis? Eligendi, eaque! Culpa nemo, unde, praesentium eius asperiores expedita aliquam at nostrum laborum. Eum earum architecto laboriosam expedita:</p>
                    <ul class="bullet">
                        <li><i></i> Wo habe ich meine besoderen Vorzuge?</li>
                        <li><i></i> Was sollte ich nicht anstreben?</li>
                        <li><i></i> Wo kann ich mich aus der Sicht meines individuellen<br />
                            Persönilchkeitspotenzials erfolgreich weiterentwickeln?
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolorem deleniti numquam inventore modi at ipsum dolore id voluptatibus, ipsa labore officia architecto quia ut itaque alias laboriosam voluptas placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iusto sapiente natus dicta consequuntur, non quos sit commodi. Rem reprehenderit fugit incidunt ipsa repellat esse harum ipsum nemo officiis? A.</p>
                    <p><strong>Sein Sie bei der Beantwortung der Fragen ehrlich zu sich selbst!</strong></p>
                    <p class="text-right">Prof. a. D. Dr. Mathias Scharlach</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="clearfix"></div>
            <div class="row weiter">
                <div class="col-md-12 text-right">
                    <a id="nextQuestionBtn" class="button">Weiter</a>
                </div>
            </div>
        </div>
    </footer>
</script>