<script type="text/template" id="tpl-question-group_fixed">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div id="wrapper2">
        <div id="wrapper3">
            <div class="container">
                <div class="row mb-100" >
                    <div class="col-md-12">
                        <a href="#"><img class="logo" src="img/logo-perscreen.jpg" width="150" alt=""></a>
                    </div>
                </div>
            </div>
            <section class="multi" id="page">
                <div class="container">
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>1.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Können Sie gut schlafen? - Wie steht es mit Ihrem Allgemeinbefinden? Wählen Sie einfach 'Ja' oder 'Nein'.</p>
                            <input class="group_fix_answers" type="radio" name="FR11601" value="1" title=""> <label for="FR11601">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11601" value="0" title=""> <label for="FR11601">Nein</label>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>2.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Haben Sie oft Kopf- oder Magenschmerzen? - Wie steht es mit Ihrem Allgemeinbefinden? Wählen Sie einfach 'Ja' oder 'Nein'.</p>
                            <input class="group_fix_answers" type="radio" name="FR11602" value="1" title=""> <label for="FR11602">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11602" value="0" title=""> <label for="FR11602">Nein</label>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>3.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Essen Sie gern Zucker oder Süßigkeiten? - Wie steht es mit Ihrem Allgemeinbefinden? Wählen Sie einfach 'Ja' oder 'Nein'.</p>
                            <input class="group_fix_answers" type="radio" name="FR11603" value="1" title=""> <label for="FR11603">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11603" value="0" title=""> <label for="FR11603">Nein</label>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>4.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Rauchen Sie mehr als drei Zigaretten pro Tag? - Wie steht es mit Ihrem Allgemeinbefinden? Wählen Sie einfach 'Ja' oder 'Nein'.</p>
                            <input class="group_fix_answers" type="radio" name="FR11604" value="1" title=""> <label for="FR11604">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11604" value="0" title=""> <label for="FR11604">Nein</label>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>5.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Verlangt es Ihre Position oder allgemeine Lebenssituation, dass Sie mehr als dreimal pro Woche Alkohol zu sich nehmen? - Wie steht es mit Ihrem Allgemeinbefinden?</p>
                            <input class="group_fix_answers" type="radio" name="FR11605" value="1" title=""> <label for="FR11605">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11605" value="0" title=""> <label for="FR11605">Nein</label>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-2">
                            <p>6.</p>
                        </div>
                        <div class="col-md-8">
                            <p>Ist Ihr Appetit gut? - Wie steht es mit Ihrem Allgemeinbefinden?</p>
                            <input class="group_fix_answers" type="radio" name="FR11606" value="1" title=""> <label for="FR11606">Ja</label>
                            <input class="group_fix_answers" type="radio" name="FR11606" value="0" title=""> <label for="FR11606">Nein</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="progressTimer"></div>

                        </div>
                    </div>
                </div>
            </section>
            <footer>
                {% include 'QuestionnaireBundle:Question:question_button_next_with_counter.html.twig' %}
            </footer>
        </div>
    </div>
</script>