<script type="text/template" id="tpl-question-registration">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div id="wrapper2">
        <div id="wrapper3">
            <div class="container">
                <div class="row mb-10" >
                    <div class="col-md-12">
                        <a href="index.html"><img class="logo" src="img/logo.svg" width="150" alt=""></a>
                    </div>
                </div>
            </div>
            <section id="page3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Stenger Datenschutz ist zugesichert!</h2>
                            <p>Die Datenauswertung erfolgt anonym mittels Computer. Ihre persönlichen Daten werden nach der Auswertung der Ergebnisse gelöscht</p>
                            <fieldset>
                                <legend>Ihre Entscheidungen</legend>
                                <div class="form-group">
                                    <input type="checkbox" name="costs_onme" id="costs_onme"> Ich trage die Kosten für die Persönlichkeitsanalyse selbst.<br />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="results_use" id="results_use"> Ich möchte die Ergebnisse diese Screenings auch für Bewerbungen nutzen.<br />
                                </div>
                                <div class="form-group">
                                    <label for="order_analysis" style="width:350px;">Ich wünsche eine Interpretation der Ergebnisse.</label><br />
                                    <input type="radio" name="order_analysis" value="1">&nbsp;<small>Ja = Die Ergebnisse der Persönlichkeitsprofilanalyse werden nur mir, dem Auftraggeber und dem Interpreter übermittelt.</small>
                                    <br />
                                    <input type="radio" name="order_analysis" value="0">&nbsp;<small>Nein = Die Ergebnisse der Persönlichkeitsprofilanalyse werden nur mir und dem Auftraggeber übermittelt.</small>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Persönliche Daten</legend>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="salutation">Anrede: *</label>
                                        <select name="salutation" id="salutation">
                                            <option value="herr">Herr</option>
                                            <option value="frau">Frau</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Titel:</label>
                                        <select name="title" id="title">
                                            <option value=""></option>
                                            <option value="Prof.">Prof.</option>
                                            <option value="Dr.">Dr.</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstname">Vorname: *</label>
                                        <input type="text" name="firstname" id="firstname">
                                    </div>

                                    <div class="form-group">
                                        <label for="further_name">Weiterer Vorname:</label>
                                        <input type="text" name="further_name" id="further_name">
                                    </div>

                                    <div class="form-group">
                                        <label for="lastname">Nachname: *</label>
                                        <input type="text" name="lastname" id="lastname">
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label for="birthday">Geburtstag:</label>
                                        <input type="text" id="birthday" name="birthday">
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Straße und Hausnummer: *</label>
                                        <input type="text" name="address" id="address">
                                    </div>

                                    <div class="form-group">
                                        <label for="town">Ort: *</label>
                                        <input type="text" name="town" id="town">
                                    </div>

                                    <div class="form-group">
                                        <label for="postal_code">Postleitzahl: *</label>
                                        <input type="text" name="postal_code" id="postal_code">
                                    </div>

                                    <div class="form-group">
                                        <label for="country">Land:</label>
                                        <input type="text" name="country" id="country" placeholder="Deutschland">
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="phone">Telefon:</label>
                                        <input type="text" name="phone" id="phone">
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile">Mobiltelefon:</label>
                                        <input type="text" name="mobile" id="mobile">
                                    </div>

                                    <div class="form-group">
                                        <label for="email">E-Mail:</label>
                                        <input type="text" name="email" id="email">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="clearfix"></div>
                    <div class="row weiter">
                        <div class="col-md-12 text-right">
                            <a id="nextQuestionBtn" class="button">Weiter</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</script>
<script>
    function initRegistration() {



        $( "#birthday" ).datetimepicker({
            format: 'DD.MM.YYYY.',
            widgetPositioning: {
                vertical: 'auto',
                horizontal: 'right'
            }
        });

        $( "#salutation" ).prop('selectedIndex', -1);
        //$( "#salutation" ).selectmenu();
    }
</script>
