<script type="text/template" id="tpl-question-data">
    <div class="container">
        <div class="row mb-100" >
            <div class="col-md-12">
                <a href="#"><img class="logo" src="img/logo.svg" width="150" alt=""></a>
            </div>
        </div>
    </div>
    <section id="page2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Diese für Ihr Berufsleben wichtigste Frage sollten Sie regelmäßig beantworten!
                        Alle sinnvollen Karriere-Strategien gehen von der Analyse der persönlichen Stärken und Schwächen aus, um darauf basierend festzustellen:</p>
                    <ul class="bullet">
                        <li><i></i> Wo habe ich meine besonderen Vorzüge?</li>
                        <li><i></i> Wollen sollte ich nicht anstreben?</li>
                        <li><i></i> Wo kann ich mich aus der Sicht meines individuellen<br />
                            Persönlichkeitspotenzials erfolgreich weiterentwickeln?
                        </li>
                    </ul>
                    <p>Wege zur Selbsterkenntnis sind immer schwer zu beschrieben. Wir haben gelernt, uns nicht jedem zu offenbaren – und manchmal gelingt es uns selbst gegenüber schon nicht mehr. Mit den folgenden Fragen wollen wir Ihnen auf der Entdeckungsreise zu Ihrem eignen Ich ein helfender Wegbegleiter sein.</p>
                    <p><strong>Seien Sie bei der Beantwortung der Fragen ehrlich zu sich selbst!</strong></p>
                    <p class="text-right">Prof. a. D. Dr. Matthias Scharlach</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="clearfix"></div>
            <div class="row weiter">
                <div class="col-md-12 text-right">
                    <a id="nextQuestionBtn" class="button">Weiter</a>
                </div>
            </div>
        </div>
    </footer>
</script>