{% extends 'base.html.twig' %}

{% block body %}

    <div id="question"></div>

{% endblock %}

{% block javascripts %}
    {# note:we are just extending javascript block here#}
    {{ parent() }}


    {# include js files, asset is g-r-e-a-t #}
    {% javascripts
    '@QuestionnaireBundle/Resources/public/js/question/module.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/app.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/router.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/Question.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Home.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Question.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Login.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Registration.js'

    %}
    <script src="{{ asset_url }}"></script>

    <script type="text/template" id="tpl-home">
        <h2 class="page-header text-center">Home</h2>
    </script>

    <script type="text/template" id="tpl-question">
        <h2 class="page-header text-center">Question</h2>
    </script>

    <script type="text/template" id="tpl-login">
        <h2 class="page-header text-center">Login</h2>
    </script>

    <script type="text/template" id="tpl-registration">
        <h2 class="page-header text-center">Registration</h2>
    </script>
    {% endjavascripts %}


{% endblock %}