
<script type="text/template" id="tpl-question-input">
    <div id="main-container">
        <img class="img-responsive" id="background" src="img/wood1.jpg">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <div class="img-box"></div>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="control-label control-label-form1">Antwort:</label>
                    <div class="col-sm-6-form1">
                        <input name="answer" type="text" class="form-control form-control-form1" id="answer_<%= question.id %>">
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer"></div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>

</script>

<script type="text/template" id="tpl-question-radio">
    <div id="main-container">
        <img class="img-responsive" id="background" src="img/wood1.jpg">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <div class="img-box"></div>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="radio-form2">
                        <% _.each(question.potentialAnswers, function(answer, key){ %>
                        <div class="radio">
                            <label>
                                <input type="radio" name="answer" id="optionsRadios_<%= answer.id %>" value="<%= answer.id %>"
                                <% if (key == 0) { %>
                                checked
                                <% } %>
                                >
                                <strong><%= answer.answer %></strong>
                            </label>
                        </div>
                        <% }); %>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer"></div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-question-checkbox">
    <div id="main-container">
        <img class="img-responsive" id="background" src="img/wood1.jpg">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <div class="img-box"></div>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="check-form3">
                        <% _.each(question.potentialAnswers, function(answer, key){ %>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="answer" id="optionsRadios_<%= answer.id %>" value="<%= answer.id %>"> <strong><%= answer.answer %></strong>
                            </label>
                        </div>
                        <% }); %>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer"></div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>
</script>
