
<script type="text/template" id="tpl-question-input">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-responsive col-xs-12 img-box" id="img-attachment">
                    <img class="img-responsive col-xs-12" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question">
                <div class="quesnum col-sm-2">
                    <h5><strong><%= question.title %></strong></h5>
                </div>

                <div class="questitle col-sm-10">
                    <strong><%= question.content %></strong>
                </div>
                <form class="questansw col-sm-10">
                    <input name="answer" type="text" class="form-control form-control-form1" id="answer_<%= question.id %>">
                </form>


                </div>

                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer">

                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>

                </div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>

</script>

<script type="text/template" id="tpl-question-feedback">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-box" id="img-attachment">
                    <img alt="Brand" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question">
                    <div class="quesnum col-sm-2">
                        <h5><strong><%= question.title %></strong></h5>
                    </div>

                    <div class="questitle col-sm-10">
                        <strong><%= question.content %></strong>
                    </div>


                </div>

                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>

</script>

<script type="text/template" id="tpl-question-radio">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-responsive  img-box" id="img-attachment">
                    <img class="img-responsive" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="radio-form2">
                        <% _.each(question.potentialAnswers, function(answer, key){ %>
                        <div class="radio">
                            <label>
                                <input type="radio" name="answer" id="optionsRadios_<%= answer.id %>" value="<%= answer.id %>"
                                <% if (key == 0) { %>
                                checked
                                <% } %>
                                >
                                <strong><%= answer.answer %></strong>
                            </label>
                        </div>
                        <% }); %>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer">

                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>

                </div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-question-slider">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-responsive  img-box" id="img-attachment">
                    <img class="img-responsive" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question-slider">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="class="form-control form-control-4 col-md-6 col-sm-6 col-xs-6"">
                        <input style="width: 60%; margin: 5% 0 0 2%;" id="ex1" data-slider-id='ex1Slider' type="text"/>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer">

                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>

                </div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-question-select">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-responsive  img-box" id="img-attachment">
                    <img class="img-responsive" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="radio-form2">
                        <select class="form-control form-control-4 col-md-6 col-sm-6 col-xs-6">
                        <% _.each(question.potentialAnswers, function(answer, key){ %>

                            <option value="<%= answer.answer %>"><%= answer.answer %></option>

                        <% }); %>
                        </select>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer">

                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>

                </div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-question-checkbox">
    <div id="main-container">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <img class="img-responsive inquest" alt="Brand" src="img/logo2.png">
                <div id="error-message-container"></div>
                <% if (typeof question.attachments !== 'undefined' && question.attachments.length > 0) { %>
                <div class="img-box" id="img-attachment">
                    <img alt="Brand" src="<%= question.attachments[0].path %>">
                </div>
                <% } %>
                <div class="question">
                    <strong><%= question.title %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><%= question.content %></strong>
                </div>
                <form>
                    <label  class="col-sm-2 control-label control-label-form2">Antwort:</label>
                    <div class="check-form3">
                        <% _.each(question.potentialAnswers, function(answer, key){ %>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="answer" id="optionsRadios_<%= answer.id %>" value="<%= answer.id %>"> <strong><%= answer.answer %></strong>
                            </label>
                        </div>
                        <% }); %>
                    </div>
                </form>
                <button type="button" id="nextQuestionBtn" class="btn btn-warning btn-form1">Weiter</button>

                <div class="timer">

                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>

                </div>
                <div class="warning">
                    <p><strong>Bitte beantworten Sie die Frage innerhalb von 30 Sekunden!</strong></p>
                </div>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>
</script>
