<div class="container">
    <div class="clearfix">

    </div>
    <div class="row weiter">
        <div class="col-md-6 col-md-offset-3" id="answer_text">
            Bitte beantworten Sie die Frage innerhalb von 30 Sekunden.
        </div>
        <div class="col-md-3 text-right">
            <a id="nextQuestionBtn" class="button">Weiter</a>
        </div>
    </div>
</div>