html {
	margin: 0;
	padding: 0;
	min-height: 100%
}
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	
}
/*header*/

.nav-tabs {
	width: 100%;
	background: #fff;
	z-index: 9999;
	position: absolute;
}
.brand  {
	margin-top: -.3%;
	
}
/*main on every page*/
#main-container {
	min-height: 100%;
	width: 100%;
}

#background {
	width: 80%;
	height: 100%;
	margin-left: 10%;
	min-height: 400px;
	position: absolute;
	z-index: -1;
}
/*login page*/

.row {
	width: 100%;
}
/*extra small screen*/
@media screen and (min-width: 0px) {
	.col-xs-5-login {
		margin: 30% 0 0 57%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 45%;
		font-size: 15px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 15px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 30%;
		font-size: 15px;
}
}
/*small screen*/
@media screen and (min-width: 400px) {
	.col-xs-5-login {
		margin: 25% 0 0 55%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 45%;
		font-size: 22px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 22px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 28%;
		font-size: 22px;
}
}
/*medium screen*/
@media screen and (min-width: 500px) {
	.col-xs-5-login {
		margin: 15% 0 0 53%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 35%;
		font-size: 25px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 25px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 30%;
		font-size: 25px;
}
}
/*large screen*/
@media screen and (min-width: 900px) {
	.col-xs-5-login {
		margin: 10% 0 0 52%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 43%;
		font-size: 35px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 35px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 34%;
		font-size: 35px;
}
}
/*extra large screen*/
@media screen and (min-width: 1100px) {
	.col-xs-5-login {
		margin: 11% 0 0 52%;
		position: absolute;
	}
	.front-pic {
		font-family: segoe print;
		margin: 0% 0 0 3%;
	}
	.blue {
		color: #039;
		margin: 0 0 0 43%;
		font-size: 40px;
}
	.orange {
		color: #e67008;
		margin: -2% 0 0 55%;
		font-size: 40px;
}

	.blue-sec {
		color: #039;
		margin: -2% 0 0 55%;
		font-size: 40px;
}
}

@media screen and (min-width: 0px) {
	.col-xs-4-login {
		margin: 55% 0 0 39%;
	}
}
@media screen and (min-width: 500px) {
	.col-xs-4-login {
		margin: 45% 0 0 39%;
	}
}
@media screen and (min-width: 700px) {
	.col-xs-4-login {
		margin: 35% 0 0 34%;
		width: 45%;
	}
}
@media screen and (min-width: 900px) {
	.col-xs-4-login {
		margin: 25% 0 0 39%;
		width: 40%;
	}
}
@media screen and (min-width: 1200px) {
	.col-xs-4-login {
		margin: 28% 0 0 35%;
		width: 40%;
	}
}
.form-horizontal-login {
	color: #039;
	font-size: 22px;
	font-family: segoe print;
	}
	
.control-label {
	font-weight: strong;
}

.form-control-login {
	border-radius: 10px;
	
}
  .btn-default-login {
  	color: #fff;
  	background-color: #039;
  	border-radius: 10px;
  }

.reg {
	color: #e67008;
	font-size: 18px;

}

/*registration page*/

.form-horizontal-registration {
	width: 100%;
	margin: 3% 0% 0 0%;
	background-color: #fff;
	padding: 3% 0 2% 8%;
	border: 2px solid #e67008;
	border-radius: 30px;
	font-family: segoe print;
	position: absolute;
}

.form-control-registration{
	border: 2px solid #e67008;
}

.btn-trigger {
    margin: 30% 0 0 45%;
}

/*footer on every page*/
#footer {
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
	background: #fff;
	position: absolute;

}

#footer p {
	margin-left: 45%;
}
