{% extends 'home_base.html.twig' %}

{% block body %}

    <div class="main">

        <a name="top"></a>

        <div class="logo">

        </div>

        <div class="header">

            <h1 class="top">LOREM IPSUM DOLOR SIT AMET, <br> CONSECTETUR ADIPISCING ELITR SED DIAM</h1>

            <form class="reg">
                <input class="inp" type="text" name="name" placeholder="Name">
                <br>
                <input class="inp" type="text" name="email" placeholder="E-Mail">
                <br>
                <button class="btn" type="button">LOREM IPSUM</button>
            </form>
        </div>
        <div class="smt">

            <div class="sec">
                <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELITR SED DIAM</p>
            </div>

            <div class="pre" >
                <h1 id="pre8">80%</h1>
                <h1>FORHERSAGE-WAHRSCHEINLICHKEIT</h1>
            </div>

            <div class="skal" >
                <h2>SKALEN-UND ERGEBNISUMFANG</h2>

                <p>Das Verfahren erbringt insgesamt zuveriassige Werte einer Vorhersagenwahrscheiniichkeit von mindestens 80% auf 22 Einzeiskalen in den Bereichen:
                </p>

                <ul>
                    <li>Vernaiten gegenüber Anforderungen und Situationen</li>
                    <li>Soziales Verhalten</li>
                    <li>Arbeitseinstellungen/Gerichtetheiten</li>
                    <li>Psychische Zustände/Temperamentseigenschaften</li>
                    <li>Verhalten zu sich selbst</li>
                    <li>Allgemeines Aktivitätsniveau/Stressresistenz</li>
                </ul>

            </div>

            <div class="basic">
                <h3>PERSCREEN [BASIC]</h3>
                <h4>DIE PERSÖNLICHKEITS-PROFIL-ANALYSE FÜR TEAMBILDUNG,
                    PERSONALAUSWAHL, PERSONALENTWICKLUNG, KARRIERE.
                </h4>
                <p>PerScreen [Basic] ist ein diagnostisches Verfahren zur Ermittlung von arbeitsmarktrelevanten Persönlithkeitseigenschaften, welches von 1991 bis 1996 durch Prof.a.D.Dr. Matthias Scharlach (Erfurt) entwickeit wurde. PerScreen [Basic] wurde konsequent am Bedarf der Wirtschaft und öffentlicher Einrichtungen orientiert. Es ist somit ein Verfahren aus der Praxis für die Praxis. Die Skalen des Verfahrens wurden aus der Befragung von ca. 600 Unternehmen und öffentlichen Einrichtungen abgeleitet. Gesucht wurden Persönlichkeitseigenschaften, die aus Sicht der Unternehmen für Einstellungs und Personalentwicklungsentscheidungen am wichtigsten sind. Aus den über 300 genannten Begriffen und Beschreibungen wurden 22 Variablen gewonnen, die am häufigsten übereinstimmend genannt wurden.
                </p>
            </div>

            <div class="ch">
                <ul>
                    <li><img src="img/ch.jpg"> EFFEKTIV</li>
                    <li><img src="img/ch.jpg">AUSSAGEFÄHIG</li>
                    <li><img src="img/ch.jpg">WIRTSCHAFTLICH</li>
                    <li><img src="img/ch.jpg">FLEXIBEL</li>
                    <li><img src="img/ch.jpg">PRAKTISCH</li>
                </ul>
            </div>

            <div class="abl">

                <h3>ABLAUF</h3>

                <div class="one">
                    <p>Einweisung durch einen Screeningleiter</p>
                </div>
                <div class="two">
                    <p>Durchführung der Befragung am PC</p>
                </div>
                <div class="three">
                    <p>Übersendung der Rohdaten an den Server</p>
                </div>
                <div class="four">
                    <p>Maschinelle Auswertung</p>
                </div>
                <div class="five">
                    <p>Übersendung der Ergebnisdatei an
                        den Auftraggeber</p>
                </div>
                <div class="six">
                    <p>Analyse und Auswertung der Ergebnisse
                        durch einen geschuiten Interpreter und/oder</p>
                </div>
                <div class="seven">
                    <p>Übergabe der Ergebnisse an
                        den Probanden</p>
                </div>
                <img class="num" src="img/num.jpg">
            </div>

            <div class="bas" >
                <h3>HANDHABUNG</h3>
                <p>PerScreen [Basic] ist für die Anwendung bei einer breiten Zielgruppe von Erwachsenen mit guten Deutschkenntnissen und minimalen PC-Kenntnissen ausgelegt. Das Verfahren wird rechnergestützt dargeboten und besteht aus ca. 120 Aussagen sowie ggf. einem Zusatzfragebogen. Neben dem Anklicken einer von jeweils vier genormten Antwortalternativen werden auch kurze Texteingaben erwartet. Je nach Typ des Probanden und PC-Vertrautheit werden für die Durchführung zwischen 20 und 60 Minuten benötigt</p>
            </div>

            <div class="das">
                <ul>
                    <li><img src="img/ch.jpg">EINFACHE ANWENDUNG</li>
                    <li><img src="img/ch.jpg">VERSTÄNDLICHE DARSTELLUNG</li>
                    <li><img src="img/ch.jpg">DER ERGEBNISSE</li>
                    <li><img src="img/ch.jpg">ERGEBNISQUALITÄT UND -VIELFALT</li>
                    <li><img src="img/ch.jpg">AKZEPTANZ UND NUTZEN</li>
                </ul>
            </div>
            <div class="up">
                <a href="#top">Nach Oben</a>
            </div>
        </div>

        <div class="info">
            <div class="vor">
                <h3>TECHNISCHE VORAUSSETZUNGEN</h3>
                <p>PC bzw. Notebook mit mindestens 17" Bildschrimdiagonale</p>
                <p>HTML5-fähiger Browser</p>
                <p>Permanenter Internetzugang wärend des Screenings</p>
                <p>E-Mail-Verstand mittels SMTP möglich</p>
                <p>Maus angeschlossen ( bei Linkshändern eventuell Maustastenbelegung ändern)</p>
                <p>Tastatur mit deutschem Zeichensatz</p>
            </div>
            <div class="nxt">
                <p>Sie wollen mehr wissen über das Verfahren und die Einsatzmöglichkeiten von PerScreen [Basic]? Nehmen Sie einfach Kontakt zu uns auf. Wir sind gern für Sie da!</p>
                <br>
                <br>
                <h3>FIRMENSITZ</h3>
                <p>PerScreen.Net-Personalentwicklung GmbH
                    <br>
                    Eisenbahnstraße 12
                    <br>
                    15517 Fürstenwalde (Spree)
                    <br>
                    <br>
                    info@perscreen.net
                    <br>
                    www.perscreen.net</p>

            </div>
        </div>

        <footer >

            <div class="foot">
                <h4>COPYRIGHT © PERSCREEN 2015  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMPRESSUM</h4>
            </div>
        </footer>

    </div>

{% endblock %}