{% extends 'base.html.twig' %}

{% block body %}

    <div id="question"></div>

    {% include 'QuestionnaireBundle:Question:question.html.twig' %}

{% endblock %}

{% block javascripts %}
    {# note:we are just extending javascript block here#}
    {{ parent() }}


    {# include js files, asset is g-r-e-a-t #}
    {% javascripts
    '@QuestionnaireBundle/Resources/public/js/question/module.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/app.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/router.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/Question.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/Attachment.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/Questionnaire.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/QuestionnaireCategory.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/models/PotentialAnswer.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/collections/Question.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/collections/Attachment.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/collections/Questionnaire.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/collections/QuestionnaireCategory.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/collections/PotentialAnswer.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Home.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/Question.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionInput.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionRadio.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionFeedback.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionCheckbox.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionSelect.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionSlider.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionIntro.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionData.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionRegistration.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/questions/QuestionFinished.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Login.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/views/Registration.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/controller/QuestionsController.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/services/QuestionBuilder.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/services/OptionsBuilder.js'
    '@QuestionnaireBundle/Resources/public/js/question/app/services/CollectionDataContainer.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}