<script type="text/template" id="tpl-admin">
    <div id="main-container">
        <img class="img-responsive" id="background" src="img/wood1.jpg">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">
                <button type="button" class="btn btn-default" style="margin: 10px 10px 10px 10px;" id="btn_go_to_questionnaires">Questionnaires</button>

            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>
</script>