
<script type="text/template" id="tpl-questionnaires">
    <div id="main-container">
        <img class="img-responsive" id="background" src="img/wood1.jpg">
        <!--==============================Header==================================-->
        <header>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab">About Us</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
                <li role="presentation" class="brand"><img class="img-responsive" alt="Brand" src="img/logo2.png"></li>
            </ul>
        </header>

        <!--===========================Main content===============================-->
        <section>
            <div class="box">

                <table class="table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="mid">ID</th>
                        <th class="mid">Name</th>
                        <th class="mid">Category</th>
                        <th class="mid">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(questionnaires.models, function(questionnaire, key){ %>
                    <tr>
                        <td class="mid"><%= questionnaire.get('id') %></td>
                        <td class="som"><%= questionnaire.get('name') %></td>
                        <td class="som"><%= questionnaire.get('catregory') %></td>
                        <td class="som">
                            <button class="btn btn-xs" id="edit-btn" value="<%= questionnaire.get('id') %>">Edit</button>
                            <button class="btn btn-xs" id="remove-btn" value="<%= questionnaire.get('id') %>">Remove</button>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </section>

        <!--==============================Footer=============================-->
        <div id="footer">
            <p>2015</p>
        </div>

    </div>

</script>
