body,html {
	font-family: Calibri, 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 34px;
}

header{
	background: url(../images/back.jpg);
	background-size:cover;
	width:100%;
	height:800px;
	position: relative;
	color:#fff;
	font-weight: 400;
}
header .logo{
	margin-top: 10px;
}
header h1{
	margin-top:180px;
	text-transform: uppercase;
}
header em{
	font-weight: 700;
}
header .mask{
	background: rgba(36,25,93,0.45);
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
header .vector{
	background: url(../images/vector2.png);
	width: 400px;
	height:694px;
	z-index: 3;
	position: absolute;
	top:127px;
	left:15%;

}
header form input{
	width: 460px;
	display: block;
	margin: 20px auto;
	padding:10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color:#333;
}
header form button{
	background: #f07e04;
	border:none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding:10px 40px 6px;
	border-bottom: 4px solid #c95a16;
}
#cite{
	background: #24195d url(../images/cite.svg)  center top no-repeat;
	background-size: 2560px 313px;
	color:#fff;
	padding:90px;
	text-transform: uppercase;
}

.hero{
	position: relative;
	z-index: 3;
	font-size: 24px;
}
#content{
	background: #24195d;
	color:#fff;
	
}
#content section{
	padding-top: 100px;
}
#content section h1{
	margin-bottom: 80px;
}
#content a,
footer a,
#content a:hover,
footer a:hover{
	color:#fff;
	text-transform: none;
}

#content .fa{
	color:#f07e04;
}


#content section h3{
	text-transform: uppercase;
	line-height: 34px;
	margin-bottom: 20px;
	margin-top: 0;
}

#ablauf .timeline{
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
#ablauf .timeline:before {
	top: 0px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 1px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -0.5px;
}
#ablauf .timeline li {
	margin-bottom: 50px;
	position: relative;
}

#ablauf .timeline li .circle{
	background: #f07e04;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	border-radius: 50%;
	margin: auto;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
#ablauf .timeline .left,
#ablauf .timeline .right{
	display: block;
	position: absolute;
	width: 40%;
	padding-top: 5px;
}

#ablauf .timeline .left{
	left: 0;
	top:0;
	text-align: right;
	
}
#ablauf .timeline .right{
	right: 0;
	top:0;
	text-align: left;
}
#oben{
	padding-bottom: 50px;
	text-align: center;	
}
#oben a{
	text-transform: uppercase !important;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}
footer{
	background: #1d0e46;
	color:#fff;
	padding:100px 0;
}
#copyright p{
	color:#ef7d00;
	padding:20px 0 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
#copyright span{
	margin-left: 80px;
}
#copyright a{
	color:#ef7d00;
}
.upper{
	text-transform: uppercase;
}